[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IsingSampler"]
	path = IsingSampler
	url = https://github.com/sachaepskamp/isingsampler
[submodule "bootnet"]
	path = bootnet
	url = https://github.com/sachaepskamp/bootnet
[submodule "mlVAR"]
	path = mlVAR
	url = https://github.com/sachaepskamp/mlvar
[submodule "psychonetrics"]
	path = psychonetrics
	url = https://github.com/sachaepskamp/psychonetrics
[submodule "qgraph"]
	path = qgraph
	url = https://github.com/sachaepskamp/qgraph
[submodule "semPlot"]
	path = semPlot
	url = https://github.com/sachaepskamp/semplot
